**Import packages and load data**

In [1]:
import pandas as pd
import gc
gc.collect()

0

In [2]:
key = {
  "type": "service_account",
  "project_id": "macro-key-426401-g6",
  "private_key_id": "c46c59283383ca6a98d22317c3b904d28706b48a",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCleLwrEEMyDPnq\nvRMepPgtgvGuUtDxJCqWV+iK3OxKB+LyCQLmr3sUXQC3ZZx1nqFlb7vbD4DNWC3C\nbRA8m4+XLVP2+csb3GTHcEMQa2usuMcxgZI6pPGB2VEj8UNVw04Poc3nMnoLo4sg\nGinxCxiJbpGlhDI6PbIe/9nGmiAgMw/aV18IlJLw8kGrL04UBUGw7d0sdfC89SKS\nX0ipVnvOg4oAPbaxyAe1ILlLB1YariW4N1z153+PAI4fQxlHu9DlM88DVTPbY0Gf\n+7TOJyfLtaOZbzmt+wzdeMRFy9yVHZErBKzk83sgxDZQfAS0W02H+zAr5IdYoEdu\nK2FpXf23AgMBAAECggEAAfE07NavGzon7BDFEnHgrnx+bQhO0PLTRyRtD2dbibRH\n1eOY7OIWdaqmUUQgt1k8wa2zZ6Rwwfui2QVy2pOu234q13mEAdGGqgjuRGALdVC5\nznLEVrSqw3FHbT6nNcGSccBekyaHSWh5uRKo6dda1471tXkWXAxhtJr4BmJmDXMa\ngvhnsawMGCZ3L9eHXpY6de8jb8F0jZ7pZW4NrEm+nmLLr2SSbwCNwJHX5MV/Nfvm\nzbgaeZt9fGHbAx0fNbGMTAKvxW6xrZGIHeqxhGZmo5EcR8466KqvctY8/p9j51jw\n+U1lMc5zkx6BU2moAW4FIPSMWx3XBi4QEoC41p6jnQKBgQDaDjZF7uP1hlgZfJhj\nRmDz+N6FeoKLydWcZG8XCfr2vFmESHYrbZTPopkqtOpcr7/VaIKn6IENY+DTvwyZ\nvsgoYVDKCXN7lVzQMHQRrX4i3aqRM1Vf/pNrxKOKU8H8DqAyQ9qXYeODbYKjwyDr\nAOSnUAGlVE+5ck5xc+L5l89/TQKBgQDCRA05cZB/ttYtDdne2GzXjFEPfu269hYR\nnOqrHrlEsUmNmlZxIDomPoF7hHVzo7bZ3Yjn8aiAYY3XHJoFARxnIJZY5dQ/ontX\nmYaDDTXHkxJQFzK9IA04ChwxzZ450eKH0TnOLHOQ69BaIqOSg0uwsUXnQtocVkAz\nhAP7IBY3EwKBgQDOmZSWogdeg9FJJKIFvZLy1aOP+ElkRPGdYhNXUt9zk3WFPlqo\nPwU1zastqYg8FVC+1GymxkYv96f3OBaqPPbMO5geNOIz/4qWvrHaZfUS9886D9ce\nQshO3VrOHxm2xezGcz/TGq5Dwih7HNA9mPUMCWPlz4JSBJmKKPCu50V0KQKBgQC0\nJPDydNofZIgFrZN8r8t2snq02OpQ9kSOvqlqV4pMJe7kLdu8+bqSnmHqDXHw8z7r\nlyCOnay4qD4k3TQCMf6Jr1FcTHvfKqggGpD+0/AsCrjvpiN598/qSI3OrTLtwTDE\n64MkKlpcaCCEhRyUD8bPqgP9qSOjJWRRoTkj1aRkGwKBgFmWaUM0jwwy9qdvprlA\nfdQGFLoljdq/us7rKCUCNQO5nA4iSe0CT9AHf8/v/CNewxS+etoMiaPrHTww/H3b\n8h7mZKU6h11TLr8N0xUP9YKGetlF0CfdhC/vH+z2w4Tat3HnSnx7bFrCRamAGUqT\nSkDcKd1dTYz4Tx/XnS2OlZjB\n-----END PRIVATE KEY-----\n",
  "client_email": "dsa3101project@macro-key-426401-g6.iam.gserviceaccount.com",
  "client_id": "106977152441456710656",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/dsa3101project%40macro-key-426401-g6.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}

from google.cloud import bigquery
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_info(key)

project_id = 'macro-key-426401-g6'
client = bigquery.Client(credentials= credentials,project=project_id)

In [ ]:
query1 = '''
SELECT
    fullVisitorId AS users,
    visitNumber,
    visitId,
    date,
    visitStartTime AS startTime,
    geoNetwork.continent AS continent,
    geoNetwork.subContinent AS subcontinent,
    geoNetwork.country AS country,
    geoNetwork.region AS region,
    totals.timeOnSite AS timeOnSite,
    totals.pageviews AS pageviews,
    totals.hits AS numHits,
    IFNULL(totals.sessionQualityDim,0) AS sessionQuality,
    IFNULL(totals.totalTransactionRevenue, 0) AS totals_revenue,
    IFNULL(totals.transactions, 0) AS transactions,
    trafficSource.medium AS medium,
    trafficSource.source AS source
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
WHERE
    _TABLE_SUFFIX BETWEEN '20160801' AND '20170801'
'''

df1 = client.query(query1).result().to_dataframe()

df1['startTime'] = pd.to_datetime(df1['startTime'], unit='s')
df1['date'] = pd.to_datetime(df1['date'], format='%Y%m%d')

In [ ]:
query = """
SELECT
    fullVisitorId AS users,
    visitNumber,
    visitId,
    hits.eCommerceAction.action_type AS action,
    hits.transaction.transactionId AS transactionId,
    hits.transaction.transactionRevenue AS transactionRevenue,
    product.v2ProductCategory AS product_category,
    product.productBrand AS brand,
    product.productPrice AS price,
    IF(product.isImpression, 1, -1) AS impression,
    IF(product.isClick, 1, 0) AS click,
    product.productListName AS product_name
FROM
    `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
    UNNEST(hits) AS hits,
    UNNEST(hits.product) AS product
WHERE
    _TABLE_SUFFIX BETWEEN '20160801' AND '20170801'
        """

result = client.query(query).result().to_dataframe()

In [5]:
result = result.set_index(['users', 'visitId'])

In [6]:
customer_behavior = pd.merge(df1, result, how = 'left', left_on = ['users', 'visitId'], right_index=True)

**Inspect and clean product_category, sessionQuality, transactions and adjust price**

In [7]:
customer_behavior.head()

,users,visitNumber_x,visitId,date,startTime,continent,subcontinent,country,region,timeOnSite,...,visitNumber_y,action,transactionId,transactionRevenue,product_category,brand,price,impression,click,product_name
0,7455368374932374807,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,...,1,0,None,<NA>,Home/Accessories/Fun/,(not set),8990000,1,0,Category
0,7455368374932374807,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,...,1,0,None,<NA>,Home/Apparel/Men's/Men's-Performance Wear/,(not set),69990000,1,0,Category
0,7455368374932374807,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,...,1,0,None,<NA>,Home/Apparel/Women's/Women's-Outerwear/,(not set),29990000,1,0,Category
0,7455368374932374807,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,...,1,0,None,<NA>,Home/Accessories/Fun/,(not set),11990000,1,0,Category
0,7455368374932374807,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,...,1,0,None,<NA>,Home/Shop by Brand/Google/,(not set),76990000,1,0,Category

In [8]:
customer_behavior = customer_behavior.drop(customer_behavior.columns[0], axis=1)

In [9]:
customer_behavior.columns

Index(['visitNumber_x', 'visitId', 'date', 'startTime', 'continent',
       'subcontinent', 'country', 'region', 'timeOnSite', 'pageviews',
       'numHits', 'sessionQuality', 'totals_revenue', 'transactions', 'medium',
       'source', 'visitNumber_y', 'action', 'transactionId',
       'transactionRevenue', 'product_category', 'brand', 'price',
       'impression', 'click', 'product_name'],
      dtype='object')

In [10]:
customer_behavior.head()
# sessionQuality NA change to -1, transactions NA change to 0

,visitNumber_x,visitId,date,startTime,continent,subcontinent,country,region,timeOnSite,pageviews,...,visitNumber_y,action,transactionId,transactionRevenue,product_category,brand,price,impression,click,product_name
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,1,0,None,<NA>,Home/Accessories/Fun/,(not set),8990000,1,0,Category
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,1,0,None,<NA>,Home/Apparel/Men's/Men's-Performance Wear/,(not set),69990000,1,0,Category
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,1,0,None,<NA>,Home/Apparel/Women's/Women's-Outerwear/,(not set),29990000,1,0,Category
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,1,0,None,<NA>,Home/Accessories/Fun/,(not set),11990000,1,0,Category
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,1,0,None,<NA>,Home/Shop by Brand/Google/,(not set),76990000,1,0,Category

In [11]:
def clean_elementary(category):
    # Remove unwanted characters and trim whitespace
    if type(category) != str:
        return ''
    category = category.replace('${escCatTitle}', '') \
                       .replace('${productitem.product.origCatName}', '') \
                       .replace('(not set)', '')
    # Remove trailing slashes
    if category.endswith('/'):
        category = category[:-1]  # Remove the last character (the slash)

    # Remove prefix 'Home/'
    if category.startswith('Home/'):
        category = category.replace('Home/', '', 1)  # Remove 'Home/' only once
    
    if category.startswith('/'):
        category = category.replace('/', '', 1)

    return category

In [12]:
customer_behavior['clean_intermediate'] = customer_behavior['product_category'].apply(clean_elementary)

In [13]:
exact_replacements = {
    "Apparel//Men's-T-Shirts": "Apparel/Men's/Men's-T-Shirts",
    'Backpacks': 'Bags/Backpacks',
    'Bottles': 'Accessories/Drinkware/Water Bottles and Tumblers',
    'Drinkware/Bottles': 'Accessories/Drinkware/Water Bottles and Tumblers',
    'Drinkware': 'Accessories/Drinkware',
    'Drinkware/Mugs and Cups': 'Accessories/Drinkware/Mugs and Cups',
    'Drinkware/Water Bottles and Tumblers': 'Accessories/Drinkware/Water Bottles and Tumblers',
    'Electronics/Accessories/Drinkware': 'Accessories/Drinkware',
    'Drinkware/Mugs': 'Accessories/Drinkware/Mugs and Cups',
    'Mugs': 'Accessories/Drinkware/Mugs and Cups',
    'Clearance Sale': 'Sale/Clearance',
    'Spring Sale!': 'Sale/Spring',
    'Fun': 'Accessories/Fun',
    'Fruit Games': 'Accessories/Fun',
    'Lifestyle/Fun': 'Accessories/Fun',
    "Men's-Outerwear": "Apparel/Men's/Men's-Outerwear",
    "Men's/Men's-Performance Wear": "Apparel/Men's/Men's-Performance Wear",
    'Mens Outerwear': "Apparel/Men's/Men's-Outerwear",
    'More Bags': 'Bags/More Bags',
    'Notebooks & Journals': 'Office/Notebooks & Journals',
    'Office/Office Other': 'Office/Other',
    'Office/Writing Instruments': 'Office/Writing',
    'Shop by Brand': 'Brands',
    'Shop by Brand/Google': 'Brands/Google',
    'Shop by Brand/Waze': 'Brands/Waze',
    'Shop by Brand/YouTube': 'Brands/YouTube',
    'Shop by Brand/Android': 'Brands/Android',
    'Google': 'Brands/Google',
    'Housewares': 'Accessories/Housewares',
    'Headgear': 'Apparel/Headgear',
    'Headwear': 'Apparel/Headwear',
    'Home': '',
    'Tumblers': 'Accessories/Drinkware/Water Bottles and Tumblers',
    'Waze': 'Brands/Waze',
    'Wearables': 'Apparel',
    "Wearables/Men's T-Shirts": "Apparel/Men's/Men's-T-Shirts",
    'Writing': 'Office/Writing',
    'YouTube': 'Brands/Youtube',
    'Android': 'Brands/Android',
}

In [14]:
customer_behavior['cleaned_category'] = customer_behavior['clean_intermediate'].replace(exact_replacements)

In [15]:
customer_behavior[['main_category', 'sub_category', 'subsub_category']] = customer_behavior['cleaned_category'].str.split('/', expand=True)

In [16]:
customer_behavior.drop(columns=['product_category','clean_intermediate', 'cleaned_category'], inplace=True)

In [17]:
columns_to_fill = ['main_category', 'sub_category', 'subsub_category']

customer_behavior[columns_to_fill] = customer_behavior[columns_to_fill].fillna('Other')

In [18]:
customer_behavior['totals_revenue'] = customer_behavior['totals_revenue'] / 1e6
customer_behavior['transactionRevenue'] = customer_behavior['transactionRevenue'] / 1e6
customer_behavior['price'] = customer_behavior['price'] / 1e6

In [20]:
customer_behavior.head()

,visitNumber_x,visitId,date,startTime,continent,subcontinent,country,region,timeOnSite,pageviews,...,transactionId,transactionRevenue,brand,price,impression,click,product_name,main_category,sub_category,subsub_category
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,None,<NA>,(not set),8.99,1,0,Category,Accessories,Fun,Other
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,None,<NA>,(not set),69.99,1,0,Category,Apparel,Men's,Men's-Performance Wear
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,None,<NA>,(not set),29.99,1,0,Category,Apparel,Women's,Women's-Outerwear
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,None,<NA>,(not set),11.99,1,0,Category,Accessories,Fun,Other
0,1,1488851848,2017-03-06,2017-03-07 01:57:28,Americas,Northern America,United States,not available in demo dataset,1707,15,...,None,<NA>,(not set),76.99,1,0,Category,Brands,Google,Other